__pycache__/*
datasets/*
notebooks/*
*.npy
compile.py
*.egg-info
active_imitation_learning/envs/*
*.pkl
*.pt
*.png
*.mp4
old/*
active_imitation_learning/results/*
active_imitation_learning/bc_policies/*
active_imitation_learning/datasets/*
active_imitation_learning/runs/*
*.pyc
*.txt
test.py
active_imitation_learning/wandb/*
active_imitation_learning/ray_results/*
active_imitation_learning/ray_results/*
active_imitation_learning/model_ckpts/*