__pycache__/*
datasets/*
notebooks/*
*.npy
compile.py
*.egg-info
changepoint_aug/envs/*
*.pkl
*.pt
*.png
*.mp4
changepoint_aug/old/*
changepoint_aug/results/*
changepoint_aug/bc_policies/*
changepoint_aug/datasets/*
changepoint_aug/density_estimation/runs/*
*.pyc
*.txt
test.py
changepoint_aug/density_estimation/wandb/*
changepoint_aug/ray_results/*
changepoint_aug/density_estimation/ray_results/*
